{%  include 'storeapp/base.html' %}

<style>        
    .box-element{
        box-shadow:hsl(0, 0%, 80%) 0 0 16px;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
    }
    
    .thumbnail{
        width: 100%;
        height: 200px;
        -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
        -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
        box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    }
    
    .row-image{
        width: 100px;
    }
    
    .form-field{
        width:250px;
        display: inline-block;
        padding: 5px;
    }
    
    .cart-row{
        display: flex;
        align-items: flex-stretch;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ececec;
    
    }
    
    .quantity{
        display: inline-block;
        font-weight: 700;
        padding-right:10px;
    }
    
    .chg-quantity{
        width: 12px;
        cursor: pointer;
        display: block;
        margin-top: 5px;
        transition:.1s;
    }
    
    .chg-quantity:hover{
        opacity: .6;
    }
    
    .hidden{
        display: none!important;
    }
</style>

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Pliable Plastic Production</h1>
            <p class="lead fw-normal text-white-50 mb-0">Checkout</p>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <hr>
                    <p><strong>Customer Information:</strong></p>
                    <hr>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p><strong>Shipping Information:</strong></p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                </div>

                <hr>
                <div id="billing-info">
                    <hr>
                    <p><strong>Billing Information:</strong></p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="b_address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="b_city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="b_state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="b_zipcode" placeholder="Zip code..">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-primary btn-block" type="submit" value="Continue">
            </form>
        </div>


        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <button class="btn btn-outline-dark" id="make-payment">Make payment</button>
            <div id="paypal-button-container"></div>
        </div>
        
    </div>


    <div class="col-lg-6">
        <div class="box-element">
            <hr>
            <a  class="btn btn-outline-dark" href="{% url 'shoppingCart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.product_Name}}</p></div>
                <div style="flex:1"><p>${{item.product.product_Price}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items:   {{order.get_cart_items}}</h5>
            <h5>Subtotal:   ${{order.get_cart_total}}</h5>
        </div>
    </div>
</div>

<script type="text/javascript">
    var total = '{{order.get_cart_total}}'

    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
    }

    var form = document.getElementById('form')
    
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form Submitted...')
        document.getElementById('form-button').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden");
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })
    
    function submitFormData(){
        console.log('Payment button clicked')

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,

        }

        var shippingInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }

        var billingInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }

        shippingInfo.address = form.address.value
		shippingInfo.city = form.city.value
		shippingInfo.state = form.state.value
		shippingInfo.zipcode = form.zipcode.value

        billingInfo.address = form.b_address.value
		billingInfo.city = form.b_city.value
		billingInfo.state = form.b_state.value
		billingInfo.zipcode = form.b_zipcode.value

        if (user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }
        
        console.log('Shipping Info:', shippingInfo)
        console.log('Billing Info:', billingInfo)
	    console.log('User Info:', userFormData)

        var url = '/process_order/'
        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,

            },
            body:JSON.stringify({'form': userFormData, 'shipping': shippingInfo, 'billing': billingInfo}),
        })
        .then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');  

                cart = {}
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                
				window.location.href = "{% url 'productListing' %}"

			})
    }

</script>

{% endblock content %}