<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Plastic Production</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'storeapp/companyinfo/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="{% static 'storeapp/companyinfo/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'storeapp/companyinfo/assets/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'storeapp/companyinfo/assets/css/Header-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'storeapp/companyinfo/assets/css/styles.css' %}">
</head>

<body>
    <section class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">We Specialize in Custom Plastic Molded Parts</h2>
                <p class="text-center">Located in Southern California, Pliable Plastic Production has in-depth knowledge of various materials and experience in plastic injection molding to deliver quality products at affordable prices.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="height: 350px;"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Ship Everywhere</h3>
                        <p class="description">We provide worldwide shipping thanks to the partnership of several vendors and expediters, globally.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="height: 350px;"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">Customer Support is always available 24/7 to provide any assistance.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="height: 350px;"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Customizable </h3>
                        <p class="description">We offer Customers and Businesses the ability to create their own designs for any of their needs.&nbsp;</p>
                        <p>* CAD/CAM design file required</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>