{%  include 'storeapp/base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Customer Dashboard</h1>
		</div>
	</div>
</header>

<br>

<div class="row">
	<div class="col-md-5">
		<div class="card card-body m-4 p-2" style="height:auto; width:500px;">
			<h5>Welcome {{customer.customer_First_Name}}!</h5>
			<hr>
			<a class="btn btn-outline-primary  btn-sm" href="{% url 'update_customer' %}">Update Customer</a>
			<a class="btn btn-outline-primary btn-sm" href="{% url 'products' customer.id %}">View Custom Products</a>

		</div>
	</div>

	<div class="col-md-5">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Name: {{customer.customer_First_Name}} {{customer.customer_Last_Name}}</p>
			<p>Email: {{customer.customer_Email}}</p>
			<p>Phone: {{customer.customer_Phone_Number}}</p>
		</div>
	</div>
</div>

<br>
{%  include 'storeapp/status.html' %}
<br>

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    	<button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row p-1">
	<div class="col-md">
		<h5>Orders</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Confirmation #</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Quantity</th>
					<th>Custom?</th>
					{% comment %} <th>Is active?</th> {% endcomment %}
					<th>Order Details</th>
					<th>Update Quantity</th>
					<th>Cancel Order</th>
				</tr>
				
				{% for item in order_items %}
					{% if item.order.complete %}
					<tr>
						<td>{{item}}</td>
						<td>{{item.order.confirmation_Number}}</td>
						<td>{{item.order.date_created}}</td>
						<td><strong>{{item.order.order_Status}}</strong></td>
						<td>{{item.quantity}}</td>
						<td>{{item.product.is_custom}}</td>
						{% comment %} <td>{{item.order.is_active}}</td> {% endcomment %}
						<td><a class="btn btn-sm btn-primary" href="{% url 'view_order' item.order.id  %}">View Order</a></td>
						{% comment %} {% if item.order.order_Status == 'Pending' %} {% endcomment %}
						<td><a class="btn btn-sm btn-warning" href="{% url 'update_orderitem' item.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'cancel_order' item.order.id %}">Cancel</a></td>
						{% comment %} {% else %} {% endcomment %}
						<td></td>
						<td></td>
						{% comment %} {% endif %} {% endcomment %}

					</tr>
					{% endif %}
					{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}

 <!-- Footer-->
 <br>
 <footer class="py-5 bg-dark">
	<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>