{%  include 'storeapp/base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Customer Dashboard</h1>
		</div>
	</div>
</header>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-primary  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{customer.customer_Email}}</p>
			<p>Phone: {{customer.customer_Phone_Number}}</p>
		</div>
	</div>
</div>

{%  include 'storeapp/status.html' %}
<br>

<div class="row">
	<div class="col-md-7">
		<h5>Orders</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-sm btn-primary" href="{% url 'productListing' %}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Order Confirm No.</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Order Details</th>
					<th>Update Order</th>
					<th>Cancel Order</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.confirmation_Number}}</td>
						<td>{{order.order_Date}}</td>
						<td>{{order.order_Status}}</td>
						<td><a class="btn btn-sm btn-primary" href="">View</a></td>
						<td><a class="btn btn-sm btn-primary" href="">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="">Cancel</a></td>

					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}

 <!-- Footer-->
 <br>
 <footer class="py-5 bg-dark">
	<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>