{%  include 'storeapp/base.html' %}

{% block content %}


<!-- Header-->
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Employee Dashboard</h1>
		</div>
	</div>
</header>

{%  include 'storeapp/status.html' %}
<br>

<div class="row p-1">
	<div class="col-md-6 p-4">
		<h5 style="display:inline;">CUSTOMERS</h5>
		<div style="float:right; height:auto; width:200px;">
			<!-- <a class="btn btn-sm btn-primary" href="">Create Customer</a> -->
		</div>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Email</th>
					<th>Phone</th>
					<!-- <th>Profile</th> -->
					<th>Update</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td>{{customer.customer_First_Name}} {{customer.customer_Last_Name}}</td>
						<td>{{customer.customer_Email}}</td>
						<td>{{customer.customer_Phone_Number}}</td>
						<!--	<td><a class="btn btn-sm btn-primary" href="{% url 'customer_dashboard2' customer.id %}">View</a></td>	-->
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_customer2' customer.id %}">Update</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6 p-4">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Confirmation #</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Quantity</th>
					<th>Custom?</th>
					<th></th>
				</tr>

					{% for item in order_items %}
					{% if item.order.complete %}
					<tr>
						<td>{{item}}</td>
						<td>{{item.order.confirmation_Number}}</td>
						<td>{{item.order.date_created}}</td>
						<td><strong>{{item.order.order_Status}}</strong></td>
						<td class='text-center'>{{item.quantity}}</td>
						<td>
							<div class="d-flex justify-content-center small mb-2">
								{% if item.product.is_custom %}
									<p class="text-success">Yes</p>
								{% else %}
									<p></p>
								{% endif %}
							</div>
						</td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_order' item.order.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-warning" style="heigh:auto; width:125px;" href="{% url 'update_orderitem' item.id %}">Update Quantity</a></td>

					</tr>
					{% endif %}
					{% endfor %}

		
			</table>
		</div>
	</div>
	
	<div class="col-md-6 p-4">
		<br>
		<h5 style="display:inline;">PRODUCTS</h5>
		<div style="float:right; height:auto; width:200px;">
			<a class="btn btn-sm btn-warning" href="{% url 'create_product' %}">Create Product</a>
		</div>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>SKU</th>
					<th>Product</th>
					<th>Version</th>
					<th>Stock</th>
					<th>Price</th>
					

				</tr>

				{% for product in products %}
					<tr>
						<td>{{product.id}}</td>
						<td>{{product.product_Name}}</td>
						<td>{{product.version_ID}}</td>
						
						<td>
							<div class="d-flex justify-content-center small mb-2">
								{% if product.product_Stock %}
								<div class="text-success">In Stock</div>
								{% else %}
								<div class="text-danger">Out of Stock</div>
								{% endif %}
							</div>
						</td>
						<td>{{product.product_Price}}</td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_product' product.id %}">Update</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6 p-4">
		<br>
		<h5 style="display:inline;">VERSIONS</h5>
		<div style="float:right; height:auto; width:200px;">
			<a class="btn btn-sm btn-warning" href="{% url 'create_version' %}">Create Version</a>
		</div>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Version</th>
					<th>Version Date</th>
				</tr>

				{% for ver in versions %}
					<tr>
						<td>{{ver.product_Version}}</td>
						<td>{{ver.product_Version_Date}}</td>
						<td>{{ver.start_Time}}</td>
						<td>{{ver.end_Time}}</td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_version' ver.id %}">Update</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6 p-4">
		<br>
		<h5 style="display:inline;">JOBS</h5>
		<div style="float:right; height:auto; width:200px;">
			<a class="btn btn-sm btn-warning" href="{% url 'create_job' %}">Create Job</a>
		</div>
		<hr>
		<div class="card card-body" style="height:1150px; width:auto;">
			<table class="table table-sm">
				<tr>
					<th>Job Number</th>
					<th>Employee</th>
					<th>Start Time</th>
					<th>End Time</th>
					

				</tr>

				{% for job in jobs %}
					<tr>
						<td>{{job.id}}</td>
						<td>{{job.employee}}</td>
						<td>{{job.start_Time}}</td>
						<td>{{job.end_Time}}</td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_job' job.id %}">Update</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6 p-4">
		<br>
		<h5 style="display:inline;">MACHINES</h5>
		<div style="float:right; height:auto; width:200px;">
			<a class="btn btn-sm btn-warning" href="{% url 'create_machine' %}">Create Machine</a>
		</div>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Machine</th>
					<th>Inputs</th>
					<th>Quantity</th>
				</tr>

				{% for machine in machines %}
				{% for input in machine.input.all %}
					<tr>
						<td>{{machine.machine_Number}}</td>
						<td>{{input.input_Name}}</td>
						<td>{{input.quantity_Per_1000_Units}}</td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_machine' machine.id %}">Update</a></td>
					</tr>
				{% endfor %}
				{% endfor %}
			</table>
		</div>

		<br>
		<h5 style="display:inline;">INPUTS</h5>
		<div style="float:right; height:auto; width:200px;">
			<a class="btn btn-sm btn-warning" href="{% url 'create_input' %}">Create Machine Input</a>
		</div>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Inputs</th>
					<th>Quantity</th>
					<th>Vendor</th>
				</tr>

				{% for input in inputs %}
					<tr>
						<td>{{input.input_Name}}</td>
						<td>{{input.quantity_Per_1000_Units}}</td>
						<td>{{input.vendor}}</td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_input' input.id %}">Update</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	

</div>

{% endblock %}

 <!-- Footer-->
 <footer class="py-5 bg-dark">
	<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>