{%  include 'storeapp/base.html' %}

{% block content %}


<!-- Header-->
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Employee Dashboard</h1>
		</div>
	</div>
</header>

{%  include 'storeapp/status.html' %}
<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-sm btn-primary" href="{% url 'create_customer' %}">Create Customer</a>
			
			<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Email</th>
					<th>Phone</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td>{{customer.customer_First_Name}} {{customer.customer_Last_Name}}</td>
						<td>{{customer.customer_Email}}</td>
						<td>{{customer.customer_Phone_Number}}</td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_customer' customer.id %}">Update</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-sm btn-primary" href="{% url 'create_order' %}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Ordered</th>
					<th>Status</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.cart}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.order_Status}}</td>
						<td><a href="{% url 'update_order' order.id %}">Update</a></td>
						<td><a href="{% url 'delete_order' order.id %}">Cancel</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

	<div class="col-md-5">
		<h5>PRODUCTS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-sm btn-primary" href="{% url 'create_product' %}">Create Product</a>
			
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Version</th>
					<th>Stock</th>
					<th>Price</th>
				</tr>

				{% for product in products %}
					<tr>
						<td>{{product.product_Name}}</td>
						<td>{{product.version_ID}}</td>
						<td>{{product.product_Stock}}</td>
						<td>{{product.product_Price}}</td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'update_product' product.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="">Remove</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}

 <!-- Footer-->
 <footer class="py-5 bg-dark">
	<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>