<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>

        {% load static %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>

        {%  include 'storeapp/base.html' %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Pliable Plastic Production</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Home Page</p>
                </div>
            </div>
        </header>
        
        {% block content %}
        <!-- Section-->
        <section class="py-5">
        <div class="container">
            <div class="card card-body">
                <h1 class="display-10 fw-bolder">View Form</h1>
                <hr>
                
            <div class="row-md-2">
            <form action="" method="GET" enctype="multipart/form-data">
                
                <h5>Order Information</h5>
                {{form.as_p}}
                {% comment %} <input type="submit" name="Submit"> {% endcomment %}
                
                <hr>
                <div class="row">
                    <div class="col">
                    <h5>Billing Information</h5>
                    {% if form3 %}
                    {{form3.as_p}}
                    {% endif %}
                    </div>
                    <div class="col">
                    <h5>Shipping Information</h5>
                    {% if form4 %}
                    {{form4.as_p}}
                    {% endif %}
                    </div>
                </div>

                <hr>
                <div class="col-md-20">
                    <h5>Order Items</h5>
                    {% if form2 %}
                    {{form2.as_table}}
                    {% else %}
        
                    {% for item in order_items %}
                    {% if item.order.complete %}
                        <table class="table table-sm">
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td>{{item}}</td>
                                <td>{{item.quantity}}</td>
                            </tr>
                        </table>
                        <p>Product Dimensions: {{item.product.height}} X {{item.product.width}} X {{item.product.depth}}</p>
                        <p>Material: {{item.product.material_ID}}</p>
                        <p>Item Price: ${{item.product.product_Price}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </form>
            </div>
        </div>

        </section>


        {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        
    </body>
</html>