{%  include 'storeapp/base.html' %}
{% load static %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Pliable Plastic Production</h1>
            <p class="lead fw-normal text-white-50 mb-0">Basket Summary</p>
        </div>
    </div>
</header>


{% block content %}

<main class="pt-5">
    <div class="container">
        <h1 class="h5">Shopping Cart</h1>
        
        {% for item in basket %}
        {% with product=item.product %}

        <div class="card mb-3 border-1 product-item" data-index="{{product.id}}">
            <div class="row g-0">
              <div class="col-md-2 d-none d-md-block">
                <img class="img-fluid mx-auto d-block" alt=" Product Image" src="#" />
              </div>
              <div class="col-md-10 ps-md-3">
                <div class="card-body p-1">
                  <a class="text-decoration-none text-reset" href="{{item.product.get_absolute_url}}">
                    <p class="card-text pb-0">Product: {{product.product_Name}}</p>
                    <p class="card-text pb-2">Dimensions: {{product.height}} x {{product.width}} x {{product.depth}} ft.</p>
                    <p class="card-text pb-2">Material: {{product.material_ID.material_Type}}</p>
                    <p class="card-text pb-2">Price: ${{product.product_Price}}</p>
                </a>

                  <label for="select">Qty (per 1000 units)</label>
                  <select id="select{{product.id}}" style="width:50px;height:31px;">
                    <option selected disabled hidden>
                        {{item.qty}}
                    </option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                    <option value="">6</option>
                    <option value="">7</option>
                    <option value="">8</option>
                    <option value="">9</option>
                    <option value="">10</option>
                  </select>
                  <a type="button" id="update-button" data-index="{{product.id}}" class="update-button btn-sm text-decoration-none small ps-3">Update</a>
                  <a type="button" id="delete-button" data-index="{{product.id}}" class="delete-button btn-sm text-decoration-none small">Delete</a>
                </div>
              </div>
            </div>
          </div>

        {% endwith %}
        {% endfor %}

        <div class="col-12 text-end">
        <div class="h6 fw-bold">
            Sub Total: $<div id="subtotal" class="d-inline-flex">{{basket.get_total_price}}</div>
        </div>
    </div>
</main>

<script>
    $(document).on('click', '.delete-button', function(e){
        e.preventDefault();
        var pid = $(this).data("index")
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_delete" %}',
            data:{
                productid: $(this).data("index"),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post',
            },
            success: function (json) {
                $('.product-item[data-index="' + pid + '"]').remove();
                document.getElementById("basket-qty").innerHTML = json.qty
                document.getElementById("subtotal").innerHTML = json.subtotal
            },
            error: function(xhr, errmsg, err) {}                
        });
    })


    // Update Item
    $(document).on('click', '.update-button', function(e){
        e.preventDefault();
        var pid = $(this).data("index")
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_update" %}',
            data:{
                productid: $(this).data("index"),
                productqty: $('#select'+ pid +' option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post',
            },
            success: function (json) {
                document.getElementById("basket-qty").innerHTML = json.qty
                document.getElementById("subtotal").innerHTML = json.subtotal
            },
            error: function(xhr, errmsg, err) {}                
        });
    })
</script>

{% endblock %}